@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
--font: 'Poppins', sans-serif;
--fw-400: 400;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
/* Primary */
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
/* Accent */
--blue: hsl(248, 32%, 49%);
/* Neutral */
--darkBlue: hsl(249, 10%, 26%);
--grayishBlue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-intro-mobile.png);
  background-color: var(--red);
  font-family: var(--font);
  min-height: 100vh;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description {
  flex-grow: 1;
  margin: 85px auto 48px;
}

.boxes {
  /* border: 1px solid black; */
  width: 100%;
  flex-grow: 2;
}

.description h1 {
  font-weight: var(--fw-700);
  padding: 0 0 15px;
  line-height: 1.3;
}

.description p {
  font-weight: var(--fw-400);
  padding: 20px 25px 0 25px;
}

.try-it {
  background-color: var(--blue);
  padding: 22px;
  margin: 0 20px 15px;
  border-radius: 10px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

.try-it p {
  padding: 0 25px;
  color: var(--grayishBlue);
}

.try-it span {
  font-weight: var(--fw-700);
  color: #fff;
}

.form-wrap {
  background-color: #fff;
  padding: 22px;
  margin: 20px 20px 15px;
  border-radius: 10px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

.form {
  position: relative;
}

.form input {
  position: inherit;
  width: 100%;
  padding: 20px 15px;
  margin: 10px 0;
  border: 1px solid var(--grayishBlue);
  border-radius: 5px;
}

input::placeholder {
  color: var(--darkBlue);
  opacity: 0.8;
  font-weight: var(--fw-600);
}

input:focus {
  outline-color: var(--grayishBlue);
  color: var(--darkBlue);
  font-weight: var(--fw-700);
}

img {
  position: absolute;
  bottom: 25%;
  right: 10%;
  transform: translateY(-25%);
  visibility: hidden;
}

.form p {
  display: block;
  color: var(--red);
  font-size: x-small;
  position: absolute;
  bottom: -8px;
  right: 0;
  visibility: hidden;
}

.submit {
  display: block;
  width: 100%;
  margin: 15px 0;
  background-color: var(--green);
  padding: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -5px 0 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

.submit:hover {
  background-color:  hsl(154, 56%, 30%);;
}

.information {
  color: var(--grayishBlue);
  font-size: x-small;
  padding: 0 30px;
}

.information a {
  color: var(--red);
  font-weight: var(--fw-700);
  cursor: pointer;
  text-decoration: none;
}

.information a:hover {
  color:  hsl(0, 31%, 37%);;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width: 1024px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
    position: relative;
  }
  
  .container {
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 80px; 
  }
  
  .description {
    width: 80%;
    margin: 0 0 0 40px;
    text-align: left;
  }
  
  .boxes {
    width: 90%;
    flex-grow: 1;
    padding: 0 50px 0;
  }
  
  .description h1 {
    font-size: 52px;
    padding: 0 10px 0 15px;
    line-height: 1.2;
  }
  
  .description p {
    padding: 20px 25px 0 0;
    margin-left: 18px;
    line-height: 1.5;
  }

  .form-wrap {
    padding: 25px 35px;
  }

  .information {
    margin-bottom: 15px;
  }
  
   footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   }
}